<h1>New Task</h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
    <br>
    <%= form.label :description %>
    <br>
    <%= form.textarea :description %>
    <br>
    <%= form.label :due_date %>
    <br>
    <%= form.date_field :due_date %>
    <br>
    <%= form.label :due_time %>
    <br>
    <%= form.time_field :due_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
